In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
# creating spark session object
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [3]:
spark

In [31]:
# Sample data for the first DataFrame
data = [
    ("Hi How are you doing",),
    ("My name is x",),
    ("Nice to meet you",),
    ("Apache Spark is a multi-language engine for executing data engineering, data science, and machine learning on single-node machines or clusters.",),
]

# Columns for the first DataFrame
columns = ["text"]

# Creating the first DataFrame
df = spark.createDataFrame(data, columns)

# Show the first DataFrame
df.show(2,False)

+--------------------+
|text                |
+--------------------+
|Hi How are you doing|
|My name is x        |
+--------------------+
only showing top 2 rows

In [32]:
rdd = df.rdd

### Finding top 10 words

In [43]:

rdd.flatMap(lambda x: x[0].split(" ")).map(lambda x: (x,1)).reduceByKey(lambda x,y: x+y).sortBy(lambda x: x[1],ascending=False).take(2)

[('you', 2), ('is', 2)]

In [48]:
rdd.map(lambda x: x[0].split(" ")).flatMap(lambda x: x).map(lambda x: (x,1)).reduceByKey(lambda x,y: x+y).takeOrdered(2,lambda x: -x[1])

[('you', 2), ('is', 2)]

In [49]:
# flatMap can be used to transpose column value to row